<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto+Slab" rel="stylesheet">

    <%= favicon_link_tag 'favicons/favicon.ico' %>

    <%= stylesheet_link_tag 'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'shared/portfolio_nav' %>

    <main role="main">

      <%= render 'shared/portfolio_jumbotron' unless logged_in?(:site_admin) %>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">

      <%= yield %>

          </div>
        </div>
      </div>

    </main>

    <%= render 'shared/portfolio_footer' %>

    <%= alerts %>

  </body>
</html>
